# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Variables de entorno
.env
.env.*

# IDEs / editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db